<<<<<<< HEAD
<h2 class="page-header">Dashboard</h2>

<p>Welcome to dashboard</p>
<h3>Values</h3>

<table id="data-table">
    <div>
    <thead> 
        <th>Date</th> 
        <th>Data</th> 
        <th>nodeNumber</th> 
        <th>nodeID</th> 
        <th>referenceNodeId</th> 
        <th>childrefId</th> 
        <th>genesisRefId</th> 
        <th>Pass hash value</th> 
    </thead> 
    <tbody> 
        <h4>LOAD DATA<h4>
        {{#users}} 
        <tr>     
            <td>{{Date}}</td> 
            <td>{{data}}</td> 
            <td>{{nodeNumber}}</td> 
            <td>{{nodeId}}</td> 
            <td>{{referenceNodeId}}</td> 
            <td>{{childrefId}}</td> 
            <td>{{genesisRefId}}</td> 
            <td>{{password}}</td> 
        </tr> 
        {{/users}} 
    </tbody> 
    </div>
  
</table> 

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="js/DataView.js"></script>

